body {
  color: #14222a;
}

.card#uptown {
  border: 2px solid #a1c181;
  background-color: #f6f9f3;
}

.card#uptown .card-header {
  background-color: #edf3e8;
}

.card#downtown {
  border: 2px solid #619b8a;
  background-color: #f0f5f4;
}

.card#downtown > .card-header {
  background-color: #e2ece9;
}

.my-primary {
  color: #f6f9f3;
  background-color: #8b4619;
}

.my-primary:focus, .my-primary:hover{
  color: #f6f9f3;
  background-color: #5d2f11;
}

.line-icon {
  height: 1em;
}
